<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.server.dao.DeviceAppBusinessSnCodeMapper">
	
	<select id="getUseSuccessDeviceAppBusinessSnCode" resultType="string">
		select
		bsn.business_sn_code
		from t_device_app_business_sn_code a
		join t_business_serial_number bsn on bsn.business_serial_number_id=a.business_serial_number_id
		join t_business b on b.business_id=bsn.business_id and b.business_code=#{businessCode}
		join t_device_app da on da.device_app_id=a.device_app_id and da.device_id=#{deviceId}
		join t_app ap on ap.app_id=da.app_id and ap.package_name=#{packageName}
		WHERE 1=1
		and a.use_status='SUCCESS'
		limit 1
	</select>
	
	
</mapper>