<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.server.dao.PrizeMapper">

	<select id="prizeStore" resultType="work.metanet.api.prize.protocol.ReqPrizeStore$RespPrizeStore">
		select
			p.prize_id,
			p.prize_name,
			p.prize_img,
			p.score
		from t_prize p
		join t_app ap on ap.channel_id=p.channel_id
		where 1=1
			and p.`status`=true
			and ap.`status`=true
			and p.prize_status='UP'
			and p.inventory>0
			and ap.package_name=#{packageName}
		ORDER BY p.update_time desc
	</select>

</mapper>